* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #ffffff;
}

/* Logo  */
.nav-logo img {
    height: 45px;
    display: block;
}

/* Center Menu Styling */
.nav-menu {
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-menu a {
    text-decoration: none;
    color: #475569;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #2563eb;
}

/* Right Button */
.btn-register {
    background-color: #2563eb;
    color: #ffffff;
    border: none;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-register:hover {
    background-color: #0844e8;
}


/* Hero Banner Section */
.hero-section {
    position: relative;
    width: 100%;
    min-height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 50px ;
   
}


.hero-content {
    max-width: 800px;
    color: #ffffff;
    
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
    letter-spacing: -1px;
}

.hero-description {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #e2e8f0;
  
}